.Top{
	margin-top:70px;
}
.Content{
	display: flex;padding-bottom:20px;border-bottom:2px solid #ecdddd;
}
.LeftPart{
	flex:1;display: flex;justify-content: flex-end;
}
.Info{
	display: flex;flex-flow: column;align-items: flex-start;justify-content: center;padding:10px;width:70%;
}
.Info h1{
	font-weight: 300;width:100%;font-size:3rem;
}
.Info h1 b{
	font-weight: normal;
}
.InfoBtn{
	position:relative;display: block;background:linear-gradient(to right, #708ce8, #1167f1);padding:10px;border-radius: 5px;color:white;width:165px;text-align: center;box-shadow: 0px 0px 2px black;cursor: pointer;

}
.flash{
	content: "";
    position: absolute;
    top:-80px;
    left: -200%;
    width: 200%;
    height: 100%;
    transform: skewX(-20deg);
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);transition: left 0.8s  linear;
}
.InfoBtn:hover > .flash{
	top:0;left:200%;
}
.RightPart{
	flex:1;padding:10px;display: flex;
}

.Brands{
	padding:20px 0px;display:grid;grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));grid-gap:20px;
}
.BrandImg{
	width:120px;height:50px;animation: bounce 1.5s infinite ease-in;margin:auto;
}
.BrandImg img{
	height:100%;width:100%;
}

@media screen and (min-width:1705px){
	.Info{
		width:50%;
	}
	.Brands{
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}

@media screen and (min-width: 1600px){
	.Info{
		width:73%;
	}
	.Info h1{
		font-size:3.5rem;
	}
	.Info a{
		padding:15px 20px;font-size: 1.2rem;width:200px;
	}
}

@media screen and (max-width:1300px){
	.Info h1{
		font-size:2rem;
	}
}

@media screen and (max-width:1045px){
	.RightPart{
		flex:1.4;
	}
}

@media screen and (max-width:800px){
	.Content{
		flex-flow: column;
	}
	.RightPart{
		justify-content: center;margin-top:50px;
	}
	.Info{
		width:100%;align-items: center;
	}
	.Info h1{
		width:80%;text-align: center;
	}
}

@keyframes bounce {
  0% {
    transform: none;
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}